# Java classes
*.class

# Output directories
build/
target/
test-output/

# Eclipse / idea
.idea
.project
.classpath
.settings/

# Windows specific stuff
[Dd]esktop.ini
[Tt]humbs.db

# OSX specific stuff
.DS_Store/
/bin/
